<!DOCTYPE HTML>
    <HEAD>
       <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
       <meta http-equiv="pragma" content="no-cache" />
       <meta http-equiv="cache-control" content="no-cache" />
       <TITLE> {:C('SITE_NAME')} </TITLE>
       <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/all.css" />
       <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
       <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
       <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

     <script>
         $(function() {
          $("#item_select").autocomplete({
           source: function( request, response ) {
            var name=$.ui.autocomplete.escapeRegex( request.term );
            response( $.grep( find_items(name), function( item ){
             return  item;
            }) );
           }
          });

          function find_items(name)
          {
              reData = new Array();
              $.ajax({
                 type: "post",
                 url: "{:U('Home/Items/find_items')}",
                 dataType: "json",
                 success: function (data) {
                    $(data).each(function(i,val) {
                        global reData[i]=val.name;
                    })
                  },
                  error: function (XMLHttpRequest, textStatus, errorThrown) {
                      alert(errorThrown);
                  }
              });
              alert(reData[0]);
          }
         });
    </script>
    </HEAD>
    <BODY>
        Add item:
      <input id="item_select" />
    </BODY>
</HTML>
