<!DOCTYPE HTML>
    <HEAD>
       <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
       <meta http-equiv="pragma" content="no-cache" />
       <meta http-equiv="cache-control" content="no-cache" />
       <TITLE> {:C('SITE_NAME')} </TITLE>
       <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/all.css" />
       <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
       <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
       <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

     <script>

         $(function() {
             var $list_item = $("<ul class='autocomplete'></ul>").hide().insertAfter("#sale_item");
             var $list_sale = $('#list_sale');

             $("#sale_item").keyup(function(){
                 var fstr = $("#sale_item").val().trim();
                 if(fstr == '' || fstr == null) return;

                 $.getJSON("{:U('Home/Sales/find_item/fstr/','','')}" + "/" + fstr,function(items,status){
                      $list_item.empty();
                      $.each(items, function(i, item)
                      {
                          $("<li><li>").text("[" + item.id + "] "+item.name).attr("id", item.id).appendTo($list_item).mouseover(function(){
                              $(this).css("background","#000000");
                          }).mouseout(function(){
                              $(this).css("background","#FFFFFF");
                          }).click(function(){
                              $.getJSON("{:U('Home/Sales/add_item/id/','','')}" + "/" + item.id,function(sales,status2){
                                  $list_sale.empty();
                                  $("<tr><tr>").html("<th>Number</th><th>Name</th><th>Count</th>").appendTo($list_sale);
                                  $.each(sales, function(i, sale)
                                  {
                                      $("<tr><tr>").html("<td>"+sale.item_number+"</td><td>"+sale.name+"</td><td>"+sale.count+"</td>").appendTo($list_sale);
                                     $list_sale.hide();
                                  });
                                 $list_sale.show();
                              });
                          });
                          $list_item.hide();
                      });
                 $list_item.show();
                 });
             });
         });
    </script>
    </HEAD>
    <BODY>
        <a href="{:U('Home/Sales/shop_cat_clean')}">Clean Shop Cat</a>
        <BR>
        Add item:
      <input id="sale_item" />
      <table id="list_sale" border="0">
          <tr>
              <th>Number</th>
              <th>Name</th>
              <th>count</th>
          </tr>
          <foreach name="shop_cat" item="sale">
              <tr>
                  <td>{$sale.item_number}</td>
                  <td>{$sale.name}</td>
                  <td>{$sale.count}</td>
              </tr>
          </foreach>
      </table>

    </BODY>
</HTML>
