<!DOCTYPE HTML>
    <HEAD>
       <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
       <meta http-equiv="pragma" content="no-cache" />
       <meta http-equiv="cache-control" content="no-cache" />
       <TITLE> {:C('SITE_NAME')} </TITLE>
       <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/all.css" />
       <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
       <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
       <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

     <script>
         $(function() {
             $("#sale_item").keyup(function(){
                 $.ajax({
                     url: "{:U('Home/Sales/get_item')}",
                     type: "get",
                     data: ,
                     data Type: 'json',
                     success: function(data){
                        var row_data = data.rows;
                        if($row_data.length) {
                            $.each(data )

                            $html.empty();
                        }
                     }
                 })
             });
         });
    </script>
    </HEAD>
    <BODY>
        Add item:
      <input id="sale_item" />
    </BODY>
</HTML>
