<!DOCTYPE HTML>
    <HEAD>
       <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
       <meta http-equiv="pragma" content="no-cache" />
       <meta http-equiv="cache-control" content="no-cache" />
       <TITLE> {:C('SITE_NAME')} </TITLE>
       <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/common.css" />
    </HEAD>
    <BODY>
        <form action="{:U('Secure/Action/login')}" method="post" accept-charset="utf-8">
            {:L('username_text')}:
            <input type="text" name="username" value="">
            <BR>
            {:L('password_text')}:
            <input type="PASSWORD" name="password" value="">
            <p><input type="submit" value="{:L('login')} &rarr;"></p>
        </form>
    </BODY>
</HTML>
