        <a href="{$data.url}">添加</a><br>
        <if condition="$data['head']['type'] eq 'form'">
            <form action="{$data.head.handle}" method="post" accept-charset="utf-8">
        </if>
        <table id="{$data.id|default="table_public"}">
            <tr>
                <th colspan="{$data.col}">{$data.title}</th>
            </tr>
            <if condition="is_array($data['th'])">
                <tr>
                    <foreach name="data.th" item="th">
                        <td>{$th}</td>
                    </foreach>
                </tr>
            </if>
            <foreach name="data.table" key="k" item="t">
            <tr>
                <if condition="$t['type']">
                    <switch name="t.type.input">
                    <case value="radio">
                        <td>{$t['1']}</td>
                        <td>
                            <for start="0" end="count($t['type']['value']) - 1" name="n">
                            {$t['type']['value'][$n]}:&nbsp;<input type="{$t.type.input}" name="{$t['0']}" value="{$n}" <if condition="$t['type']['value']['checked'] eq $n">checked</if>>&nbsp;&nbsp;
                            </for>
                        </td>
                    </case>
                    <case value="select">
                        <td>{$t['1']}</td>
                        <td>
                        <select name="{$t['0']}">
                            <foreach name="t.type.value" key="k" item="v">
                                <option value="{$k}" <if condition="$t['type']['selected'] eq $k">selected</if>>{$v}</option>
                            </foreach>
                        </select>
                        </td>
                    </case>
                    <default />
                        <td>{$t['1']}</td>
                        <td><input type="{$t.type.input}" name="{$t['0']}" value="{$t.type.value}"></td>
                    </switch>
                <else />
                    <foreach name="t" key="k" item="v">
                        <if condition="! in_array($k,$data['hiddens'])">
                            <if condition="$data['function'][$k]">
                                <td>{$v|$data['function'][$k]}</td>
                            <else />
                                <td>{$v}</td>
                            </if>
                        </if>
                    </foreach>
                    <td>
                    <foreach name ="data.option" key="k" item="v">
                            <a href="{$v}/id/{$t.id}">[{$k}]</a>&nbsp;
                    </foreach>
                    </td>
                </if>
            </tr>
            </foreach>

        <if condition="$data['head']['type'] eq 'form'">
                <tr>
                    <td colspan="{$data.col}"><input type="submit" value="{$data.head.submit}"></td>
                </tr>
            </table>
            </form>
        <else />
            </table>
        </if>
