<!DOCTYPE HTML>
    <HEAD>
       <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
       <meta http-equiv="pragma" content="no-cache" />
       <meta http-equiv="cache-control" content="no-cache" />
       <TITLE> {:C('SITE_NAME')} </TITLE>
       <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/common.css" />
    </HEAD>
    <BODY>
        <table border="0">
            <tr>
                <th>功能模块</th>
            </tr>
            <tr>
                <td><a href="{:U('Customers/index')}">客户</a></td>
            </tr>
            <tr>
                <td><a href="{:U('Suppliers/index')}">供应商</a></td>
            </tr>
            <tr>
                <td><a href="{:U('Employees/index')}">员工</a></td>
            </tr>
            <tr>
                <td><a href="{:U('Giftcards/index')}">礼品卡</a></td>
            </tr>
            <tr>
                <td><a href="{:U('Items/index')}">产品</a></td>
            </tr>
            <tr>
                <td><a href="{:U('ItemKits/index')}">产品套件</a></td>
            </tr>
        </table>
        <BR>
        <a href="{:U('Index/logout')}">Logout</a>
    </BODY>
</HTML>
