<!DOCTYPE HTML>
    <HEAD>
       <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
       <meta http-equiv="pragma" content="no-cache" />
       <meta http-equiv="cache-control" content="no-cache" />
       <TITLE> {:C('SITE_NAME')} </TITLE>
       <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/all.css" />
       <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
       <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
       <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

     <script>

         $(function() {
             var $list_item = $("<ul class='autocomplete'></ul>").hide().insertAfter("#receiving_item");
             var $list_receiving = $('#list_receiving');

             $("#receiving_item").keyup(function(event){
                 var fstr = $("#receiving_item").val().trim();
                 if(fstr == '' || fstr == null) return;

                 $.getJSON("{:U('Home/Receivings/find_item/fstr/','','')}" + "/" + fstr,function(items,status){
                      $list_item.empty();

                      $.each(items, function(i, item)
                      {
                          $("<li></li>").text("[" + item.item_number + "] "+item.name).attr("id", item.id).appendTo($list_item).mouseover(function(){
                              $(this).css("background","#000000");
                          }).mouseout(function(){
                              $(this).css("background","#FFFFFF");
                          }).click(function(){
                             $.sale_add(item.id);
                             $.sale_view();
                          });
                          $list_item.hide();
                      });
                  if(event.which == 13) {
                     var item_id = $list_item.children().first().attr('id');
                     $.sale_add(item_id);
                     $.sale_view();
                  }
                 $list_item.show();
                 });
             });
         $.extend({sale_add:function(x){
              if(x == '' || x == null) return;

              $.getJSON("{:U('Home/Receivings/add_item/id/','','')}" + "/" + x);
              }});

         $.extend({sale_view:function(){
              $.getJSON("{:U('Home/Receivings/show_item/','','')}",function(esales){
                  $list_receiving.empty();
                  $("<tr></tr>").html("<th>Number</th><th>Name</th><th>taxes</th><th>Count</th><th>Price</th><th>total</th>").appendTo($list_receiving);
                  var sale_total = 0.0;
                  $.each(esales, function(i, sale)
                  {
                   var total = (sale.count * sale.unit_price).toFixed(2);
                   sale_total = (parseFloat(sale_total)+parseFloat(total)).toFixed(2);
                   $("<tr></tr>").html("<td>"+sale.item_number+"</td><td>"+sale.name+ "</td><td>" +sale.percent+ "</td><td>"+sale.count+"</td><td>"+ sale.unit_price +"</td><td>"+ total +"</td>").appendTo($list_receiving);
                     $list_receiving.hide();
                  });
                  $("<tr></tr>").html("<td colspan='5'>共计:</td><td>"+ sale_total +"</td>").appendTo($list_receiving);
                  $list_receiving.show();
                  $list_item.hide();
                  $("#receiving_item").val('');
             });
         }});
         $.sale_view();
         $('#receiving_item').focus();
         });
    </script>
    </HEAD>
    <BODY>
        <a href="{:U('Home/Receivings/shop_cat_clean')}">Clean Shop Cat</a>
        <BR>
        Add item:
      <input id="receiving_item" />
      <table id="list_receiving" border="0">
      </table>
    </BODY>
</HTML>
